*{
    margin: 0;
    padding: 0;
}

.fundo{
    padding: 64px 25px;
}

.cabecalhoContato{
    padding: 0%;
}

.menu{
    display: flex;
}
.inicio button{
    display: flex;
    align-items: center;
}
.inicioMobile button img{
    content: url(../img/home.png) ;
}

.inicio button a{
    display: none;
}


.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

@media screen and (min-width: 1000px){
    .inicioMobile{
        display: none;
    }

    .inicio button a {
        display: inline;
    }
}

fieldset{
    border:0;
}

input, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    display: block;
}

fieldset .grupo .campo {
    float: left;
    margin-right: 1em;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="tel"],
.campo textarea{
    padding: 0.2em;
    border: 1px solid solid;
    box-decoration-break: 2px 2px 2px rgba(0, 0, 0, 0.2);
    display: block;
}

.btnContato {
    font-size: 1.2rem;
    background: lightslategray;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -30%);
}

.btnContato:hover{
    background: #ffffff;
    color: #000000;
}

.tiposContato{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whatsapp:hover{
    font-size: 18px;
    transition: 0.5s ease-in-out;
    background: #2aa819;
    
}

.dark .inicioMobile button img{
    content: url(../img/home_ligth.png);
}

.dark .inicio button img {
    display: none;
}